[Desktop Entry]
Version=2018.1
Terminal=false
Path=/usr/share/quelea
Categories=AudioVideo;
Type=Application
Name=Quelea
Icon=/usr/share/quelea/icons/logo64.png
Comment=Projection software for churches
Exec=/usr/share/quelea/launch.sh
