
<launch4jConfig>
    <headerType>gui</headerType>
    <jar>..\dist\Quelea.jar</jar>
    <outfile>..\dist\quelea.exe</outfile>
    <chdir>.</chdir>
    <errTitle>Error</errTitle>
    <priority>normal</priority>
    <downloadUrl>http://www.oracle.com/technetwork/java/javase/downloads/index.html</downloadUrl>
    <supportUrl>https://groups.google.com/group/quelea-discuss</supportUrl>
    <customProcName>false</customProcName>
    <stayAlive>false</stayAlive>
    <manifest></manifest>
    <icon>../icons/logo.ico</icon>
    <jre>
        <minVersion>1.7.0</minVersion>
        <jdkPreference>preferJre</jdkPreference>
        <initialHeapSize>1024</initialHeapSize>
        <maxHeapSize>1024</maxHeapSize>
    </jre>
    <messages>
        <startupErr>Sorry, there was an error starting the program.</startupErr>
        <bundledJreErr>Sorry, there was an error with the bundled JRE.</bundledJreErr>
        <jreVersionErr>You're running a version of Java that's too old - you need at least version 7.</jreVersionErr>
        <launcherErr>Sorry, there was an error launching Quelea.</launcherErr>
    </messages>
    <versionInfo>
        <fileVersion>0.4.2</fileVersion>
        <productName>Quelea</productName>
        <copyright>GPLv3</copyright>
        <originalFilename>Quelea.exe</originalFilename>
        <companyName>Michael Berry</companyName>
    </versionInfo>
</launch4jConfig>
