Package: quelea
Version: 2014.1
Section: misc
Priority: optional
Depends: oracle-java7-installer | openjdk-7-jre
Recommends: vlc
Homepage: http://www.quelea.org
Architecture: all
Maintainer: Michael Berry <michael@quelea.org>
Description:Lyrics projection package designed for use in churches.
 Supports importing and displaying songs, scripture, videos and more.
